^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Linux Basic installation requirements - 4 Web Development
----------------------------------------------------------
===========================================================
List of Apps
-------------
1.- FireFox
2.- Chromium
3.- Zoom
4.- Gimp
5.- VSCODE



List of CLI's
--------------
1.- zsh + OhMyZsh
2.- nvm + node (12&+)
3.- rbenv + ruby ()
4.- vi/vim's custom config   //***INSTALL VIM if not already installed
	(https://www.linode.com/docs/guides/introduction-to-vim-customization/)
	4.1 Create the vimrc file and copy the code
	4.2 Install Vim plug-in manager
		* - change the dir inside .vimrc.plug, from ~/vim/plugged to ~/vimplug-plugins.
		Or the one to be used.
	4.3 Install color scheme/theme 'gruvbox'
		4.3.1 To your .vimrc add: Plug 'morhetz/gruvbox' . And then run :PlugInstall
		* - add the 'set background=dark' code line in the .vimrc, to always initiate vim
		with background in dark-mode. Can change it inside vim with same command.
		* - and for a better contrast add also: let g:gruvbox_contrast_dark = 'medium'
5.- git + git-flow



VSCODE Extensions + feat's
---------------------------
1. fix LineComment shortcut (File > Preferences > KeyboardShortcuts > ToggleLineComment)
2. Live Server
3. Material Icon
4. Ruby Solargraph
	4.1 Install solargraph Gem
		$ gem install solargraph
5. Bracket Pair Colorizer
6. Path Intellisense
7. Quokka
8. ... ROR <% > quick put
CTRL + shift + v (preview MD files)

